Source: ocompiler
Section: utils
Priority: optional
Maintainer: Costin Botescu <costin.botescu@gmail.com>
Build-Depends: debhelper (>= 9), ocompiler, libc6-i386 [amd64], bc
#, lsb-release [amd64], ostriputil [amd64]  # was libc6-dev-i386 ?
Standards-Version: 4.5.0
Homepage: https://github.com/colin-i/o
Rules-Requires-Root: no

Package: ocompiler
Architecture: amd64 i386
Multi-Arch: foreign
Depends: libc6 [i386], libc6-i386 [amd64]
Description: O Compiler

Package: ocompiler-dev
Architecture: all
Multi-Arch: foreign
Description: O Compiler dev files
