#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#here and at dh_auto_configure. here not working
#export DEB_MAKE_INVOKE += NOOCONVTEST=1
#export DEB_MAKE_ENVVARS = NOOCONVTEST=1

%:
	dh $@
# --with autoreconf

#dist is xenial to go back to bionic:
#	unique name append a letter at version
#	in control          debhelper-compat (= 11)
#      here                --with autoreconf
#      remove compat file

#because etchelper in src/Makefile is forged like in install
override_dh_auto_build:
	dh_auto_build -- prefix=/usr

override_dh_auto_install:
	echo src/files/headers/logs.h usr/include/ocompiler/ > debian/ocompiler-dev.install
	echo src/files/headers/log.h usr/include/ocompiler/ >> debian/ocompiler-dev.install
	echo src/files/headers/xfile.h usr/include/ocompiler/ >> debian/ocompiler-dev.install

	#and, at least local, (since 2 debs?), will ignore make install to deb
	echo src/o usr/bin/ > debian/ocompiler.install
	echo ounused/ounused usr/bin/ >> debian/ocompiler.install
	if [ "$(shell dpkg-architecture -qDEB_HOST_ARCH)" = "amd64" ]; then echo ostrip/ostrip usr/bin/ >> debian/ocompiler.install; fi
	echo otoc/otoc usr/bin/ >> debian/ocompiler.install
	echo ocompiler.conf etc/ >> debian/ocompiler.install

	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo

#ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH), i386)
#override_dh_auto_configure:
#	dh_auto_configure
#	sed -i '/ostrip/d' debian/ocompiler.install
	#sed -i '/otoc/d' debian/ocompiler.install
	#touch NOOCONVTEST
#else
#override_dh_auto_configure:
#	dh_auto_configure
	#sed -i '/otoc/d' debian/ocompiler.install
	#touch NOOCONVTEST
#endif
